ion-header {
    background-color: var(--ion-color-secondary);
    height: 11rem;
    border-radius: 3rem;
    ion-toolbar {
      --background: var(--ion-color-secondary);
      --color: var(--ion-color-primary);
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      .logo {
        height: 30px;
      }
  
      ion-button {
        color: var(--ion-color-primary);
        background-color: black;
        border-radius: 2rem;
      }

      ion-title {
        display: flex;
        justify-content: center;
        margin-left: 4.7rem;
      }
    }
  }
  