<div class="online-coach-container">
    <div class="header-container">
      <h2>PROGRAMAS</h2>
      <ion-badge slot="start" class="new-label">NOVO</ion-badge>
    </div>
  

    <div class="cards-container">
      <div class="card" *ngFor="let card of cards" [style.background-image]="'url(' + card.imageUrl + ')'">
        <div class="card-content">
          <div class="text-container">
            <span class="continue-text" *ngIf="card.isStarted">continuar treinando</span>
            <span class="main-text">{{ card.text }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  