<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>

        <ion-list id="labels-list">
          <ion-list-header>Bem vindo, Leonardo</ion-list-header>

          @for (label of appPages; track label) {
            <ion-item lines="none" [routerLink]="label.url" [routerDirection]="'root'" [detail]="false" routerLinkActive="selected">
              <ion-icon aria-hidden="true" slot="start" [ios]="label.icon" [md]="label.icon"></ion-icon>
              <ion-label>{{ label.title }}</ion-label>
            </ion-item>
          }
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
