.contents-container {
    padding: 16px;
    margin-left: 1.5rem;
    opacity: 0.2;
  
    h2 {
      font-size: x-large;
      font-weight: 400;
      margin-bottom: 16px;
    }
  }
  
  .cards-container {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    
    &::-webkit-scrollbar {
      display: none;
    }
  }
  
  .card {
    min-width: 65vw;
    height: 18vh;
    border-radius: 1rem;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 1px solid white;
    background: transparent;
    
    &::before {
      display: none;
    }

    .card-content {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 20px;
      width: 100%;
      display: flex;
      align-items: center;
      gap: 12px;
      
      .square {
        width: 3rem;
        height: 3rem;
        background-color: var(--ion-color-primary);
        border-radius: 8px;
        margin-bottom: 1.5rem;
      }

      
      .text-container {
        display: flex;
        flex-direction: column;
        gap: 2px;
        
        .continue-text {
          font-size: 12px;
          color: var(--ion-color-primary);
        }
        
        .main-text {
          text-transform: uppercase;
          font-size: 16px;
          font-weight: 700;
          color: white;
        }
      }
    }
  }
  
  .header-container {
    display: flex;
    align-items: center;
  }
  
  .new-label {
    color: white;
    font-weight: 300;
    border-radius: 2rem;
    font-size: 10px;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    bottom: 4px;
    right: -6px;
  }
  
  
