<div class="online-coach-container">
  <div class="header-container">
    <h2>PERSONAL ONLINE</h2>
    <ion-icon class="add-icon" color="primary" name="add-circle-outline"></ion-icon>
  </div>

  <div class="cards-container" (scroll)="onScroll($event)">
    <div class="card" *ngFor="let card of cards; let i = index" 
         [style.background-image]="'url(' + card.imageUrl + ')'"
         [class.active]="i === activeCardIndex">
      <div class="card-content">
        <button class="add-button" *ngIf="i === activeCardIndex" (click)="openCreateCardModal()">
          <i class="material-icons">add</i>
          <span>{{ card.text }}</span>
        </button>
        <span class="footer-text" *ngIf="i !== activeCardIndex">{{ card.footer }}</span>
      </div>
    </div>
  </div>

</div>

<!-- Modal de criação de card -->
<div class="modal" [class.modal-active]="isModalOpen">
  <div class="modal-content">
    <div class="modal-header">
      <h3>Adicionar Treino</h3>
      <button class="close-button" (click)="closeModal()">
        <ion-icon name="close-outline"></ion-icon>
      </button>
    </div>
    <div class="modal-body">
      <form (ngSubmit)="createCard()">
        <div class="form-group">
          <label for="imageUrl">URL da Imagem</label>
          <input type="text" id="imageUrl" [(ngModel)]="newCard.imageUrl" name="imageUrl" required>
        </div>
        <div class="form-group">
          <label for="footer">Nome</label>
          <input type="text" id="footer" [(ngModel)]="newCard.footer" name="footer" required>
        </div>
        <div class="modal-footer">
          <button type="button" class="cancel-button" (click)="closeModal()">Cancelar</button>
          <button type="submit" class="submit-button">Criar</button>
        </div>
      </form>
    </div>
  </div>
</div>
