.online-coach-container {
  padding: 16px;
  margin-left: 1.5rem;
  border-radius: 1rem;

  h2 {
    font-size: x-large;
    font-weight: 400;
    margin-bottom: 16px;
  }
}

.cards-container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  border-radius: 1rem;
  gap: 1rem;
  
  &::-webkit-scrollbar {
    display: none;
  }
}

.card {
  flex: 0 0 auto;
  scroll-snap-align: center;
  transition: all 0.3s ease;
  min-width: 65vw;
  height: 18vh;
  border-radius: 1rem;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 1rem;
    z-index: 0;
  }

}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.add-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px 20px;
  background: transparent;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s;
  z-index: 2;
  
  i {
    font-size: 20px;
    border: 2px solid white;
    border-radius: 50%;
    padding: 8px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 2;
  }

  span {
    font-size: 1.2rem;
    color: white;
    z-index: 2;
    max-width: 3rem;
  }
}

.header-container {
  display: flex;
  align-items: center;
}

.add-icon {
  font-size: 1.5rem;
  margin-left: 0.5rem;
  z-index: 2;
}

.footer-text {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    color: white;
    z-index: 3;
}
