<div class="online-coach-container">
  <div class="header-container">
    <h2>PERSONAL ONLINE</h2>
    <ion-icon class="add-icon" color="primary" name="add-circle-outline"></ion-icon>
  </div>

  <div class="cards-container">
    <div class="card" [style.background-image]="'url(../../../assets/images/lift.jpg)'">
      <button class="add-button">
        <i class="material-icons">add</i>
        <span>Novo Treino</span>
      </button>
    </div>
    
    <div class="card" [style.background-image]="'url(assets/images/treino-background-2.jpg)'">
      <button class="add-button">
        <i class="material-icons">add</i>
        <span>Novo Treino</span>
      </button>
    </div>
    
    <div class="card" [style.background-image]="'url(assets/images/treino-background-3.jpg)'">
      <button class="add-button">
        <i class="material-icons">add</i>
        <span>Novo Treino</span>
      </button>
    </div>
  </div>
</div>
