<div class="profile-container">
    <img src="../../../assets/images/profile-photo.jpg" alt="Foto de perfil" class="profile-image" />

    <div class="profile-info">
        <h2 class="profile-name">Leonardo Santos</h2>
        <p class="profile-level">Nível Roxo</p>
    </div>
</div>
<div class="profile-buttons">
    <ion-button class="my-body-button" fill="clear">
        <ion-icon slot="start" name="body"></ion-icon>
        Meu Corpo
    </ion-button>
    <ion-button class="goals-button" fill="clear">
        <ion-icon slot="start" name="trophy"></ion-icon>
        Objetivos e Conquistas
    </ion-button>
</div>