:host {
  display: block;
}

.profile-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: flex-start;
  padding: 0.7rem 2rem;
}

.profile-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-info {
  display: flex;
  flex-direction: column;
}

.profile-name {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: 'Oswald', sans-serif;
}

.profile-level {
  margin: 0rem 0;
  color: #6A36E8;
  font-family: 'Oswald', sans-serif;
}

.profile-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: var(--ion-color-dark);
  border-radius: 25px;
  padding: 8px 16px;
  margin: 0.8rem auto;
  max-width: 18rem;
  height: 2.3rem;
  
  ion-button {
    --padding-start: 8px;
    --padding-end: 8px;
    font-size: 11px;
    font-family: 'Oswald', sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
    ion-icon {
      margin-right: 8px;
      padding: 2px;
      border: 1px solid var(--ion-color-primary);
      border-radius: 50%;
      font-size: 10px;
      width: 15px;
      height: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
    }
  }
}